{% extends "home-base.html" %}
{% load static %}
{% block content %}
    <div class="container" style="padding-top:60px;">
        <div class="row row-content">
            <div class="card-columns">
                {% for posting in postings %}
                    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                        <div class="card-block">
                            <h4 class="card-title">
                                {% if posting.user.profile.picture %}
                                    <img src="{{ posting.user.profile.picture.url }}" class="img-user"/>
                                {% endif %}
                                {{ posting.user }}:
                            </h4>
                            <p class="card-text">{{ posting.text }}</p>
                            <p class="card-text">
                                <small class="text-muted">{{ posting.dateAndTime }}</small>
                            </p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block active3 %}
    class="active"
{% endblock %}