{% extends "logAndRegister-base.html" %}
{% load static %}
{% block regOrLog %}
    <div class="form-box item" id="loginPage">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Login to our site</h3>
                <p>Enter your username and password to log on:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>

        <div class="form-bottom">
            <form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}"
                  class="login-form">
                {% for field in form.visible_fields %}
                    {% if field.html_name == 'password' %}
                        <div class="form-group">
                            <input type="password" id="{{ field.id_for_label }}"
                                   name="{{ field.html_name }}" placeholder="{{ field.label }}"
                                   class="form-control">
                        </div>
                    {% else %}
                        <div class="form-group">
                            <input type="text" id="{{ field.id_for_label }}"
                                   name="{{ field.html_name }}" placeholder="{{ field.label }}"
                                   class="form-control">
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn">Sign in</button>
                <a href="{% url 'register' %}">Sign up</a>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}